<html>
    <head>

    </head>
    <body>
       <div id="footerlist">

        <div>
All Rights Reserved
        </div>
        <div>
<a href="/">Home</a>
        </div>

        <div>
       <a href="/users/profile">Profile</a>
        </div>

       </div>
        
 
    </body>
</html>