body{
    #footerlist{
        background-color:grey;
        display: flex;
        justify-content:space-evenly;
        padding: 10px;
        color:white;
        a{color: white;
            text-decoration: none;
            padding: 10px;
        }
        a:hover{
            background-color: indianred;
        }
    }
    
}